.pokemon-stats {
    float: left;
    overflow-y: auto;
    margin: 10px;
    /* width: 280px; */
    /* height: 440px; */
    border: 10px solid #F3D347;
    border-radius: 40px;
    padding: 10px;
    text-decoration: none;
    color: #666;
    box-shadow: 10px 10px 10px -3px rgba(0,0,0,0.25);
}
